trunk/Deposito_EJB/ejbModule/dao/logistica/webservice/LogisticaMonitoreoWS.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="LogisticaMonitoreoBeanService"
	targetNamespace="http://webservice/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema elementFormDefault="unqualified" targetNamespace="http://webservice/"
			version="1.0" xmlns:tns="http://webservice/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:element name="informarLog" type="tns:informarLog" />
			<xs:element name="informarLogResponse" type="tns:informarLogResponse" />
			<xs:element name="informarVenta" type="tns:informarVenta" />
			<xs:element name="informarVentaResponse" type="tns:informarVentaResponse" />
			<xs:complexType name="informarVenta">
				<xs:sequence>
					<xs:element minOccurs="0" name="arg0" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="informarVentaResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="informarLog">
				<xs:sequence>
					<xs:element minOccurs="0" name="arg0" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="informarLogResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="return" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="informarLog">
		<wsdl:part element="tns:informarLog" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="informarVenta">
		<wsdl:part element="tns:informarVenta" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="informarLogResponse">
		<wsdl:part element="tns:informarLogResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="informarVentaResponse">
		<wsdl:part element="tns:informarVentaResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="LogisticaMonitoreoWS">
		<wsdl:operation name="informarVenta">
			<wsdl:input message="tns:informarVenta" name="informarVenta">
			</wsdl:input>
			<wsdl:output message="tns:informarVentaResponse" name="informarVentaResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="informarLog">
			<wsdl:input message="tns:informarLog" name="informarLog">
			</wsdl:input>
			<wsdl:output message="tns:informarLogResponse" name="informarLogResponse">
			</wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="LogisticaMonitoreoBeanServiceSoapBinding"
		type="tns:LogisticaMonitoreoWS">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="informarVenta">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="informarVenta">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="informarVentaResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="informarLog">
			<soap:operation soapAction="" style="document" />
			<wsdl:input name="informarLog">
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output name="informarLogResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="LogisticaMonitoreoBeanService">
		<wsdl:port binding="tns:LogisticaMonitoreoBeanServiceSoapBinding"
			name="LogisticaMonitoreoWSPort">
			<soap:address
				location="http://localhost:8080/LogisticaMonitoreo/LogisticaMonitoreoWS" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
